.body {
    overflow-y: scroll;
    &-list {
        &-item {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 20px;
            padding: 10px;
            background-color: $plate-color;
            border-radius: 5px;
            font-family: $sfProDisplay;
        }
    }
}